@import "./main.css";

.seating-container {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto repeat(6, min-content) auto; /* keep the seating/text content close to each other */
}

.movie-details-row em {
  font-size: 20px;
  display: flex; /* center the content */
  justify-content: center; /* center the content */
}

/* style the "screen" border line */
.screen-row {
  display: grid;
  grid-template-columns: 1fr 180px 1fr;
}

.screen-row h1 {
  display: flex; /* center the content */
  justify-content: center; /* center the content */
  border-bottom: 2px solid black;
  padding-bottom: 16px;
}

/* style the row asking user to select their seat */
.text-row {
  margin-top: 8px;
  display: flex; /* center the content */
  justify-content: center; /* center the content */
}

.text-row em {
  font-size: 20px;
}

.button-row {
  margin-top: 12px;
  display: flex; /* center the content */
  justify-content: center; /* center the content */
}

.button-row .booking-btn {
  font-size: 20px;
  font-weight: bold;
  color: black;
  background-color: rgb(138, 131, 131);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 102px;
  height: 40px;
  border: 1px solid black;
}

.button-row .booking-btn#exp-booking-btn {
  width: 186px;
}

.button-row .booking-btn:hover {
  background-color: rgb(107, 103, 103);
  cursor: pointer;
}

.row {
  margin-bottom: -10px; /* how spread out the seats are vertically */
  display: flex; /* center the content */
  justify-content: center; /* center the content */
}

.seating-container .buffer {
  margin: 20px 0px 0px 0px; /* create buffer between header/footer when shrinking page */
}

.seating-container input[type="checkbox"] {
  visibility: hidden; /* hide the default checkbox in order to make a new one */
  margin-right: -18px; /* how spread out the seats are horizontally */
  margin-top: -30px;
}

/* styling of the seat boxes */
.seating-container input[type="checkbox"] + label:before {
  background-color: #ede8e8;
  border: 2px solid black;
  content: "";
  display: inline-block;
  height: 24px;
  width: 24px;
  margin: 4px;
}

.seating-container input[type="checkbox"]:checked + label:before {
  background: rgb(86, 235, 111);
}

.seating-container input[type="checkbox"]:disabled + label:before {
  border: 2px solid rgb(92, 85, 85);
  background: rgb(92, 85, 85);
}

.age-btn-row {
  display: flex; /* center the content */
  justify-content: center; /* center the content */
  margin-top: 8px;
}

.single-age-container {
  text-align: center;
  margin-right: 32px;
}

.single-age-container:last-of-type {
  margin-right: 0px;
}

.single-age-container .age-btn-wrapper {
  display: flex; /* center the content */
  justify-content: center; /* center the content */
  align-items: center; /* center the content */
}

.age-btn-wrapper .age-btn-minus {
  font-size: 32px;
  margin-right: 10px;
}

.age-btn-wrapper .age-btn-minus:hover {
  cursor: pointer;
}

.age-btn-wrapper .age-btn-plus {
  font-size: 24px;
  margin-left: 8px;
}
.age-btn-wrapper .age-btn-plus:hover {
  cursor: pointer;
}

.age-btn-wrapper .age-btn-value {
  background-color: #ede8e8;
  width: 32px;
  height: 32px;
  border: 2px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  font-size: 14px;
}

.single-age-container p {
  font-size: 14px;
  color: black;
}

@media only screen and (max-width: 576px) {
  .seating-container input[type="checkbox"] + label:before {
    height: 20px;
    width: 20px;
  }
}
