@import "/css/main.css";

body > div.body_container > div.main_content > div{
 display: inline;
 
}

.highlighed_movie_info{
  display: inline;
}

body > div.body_container > div.main_content > div > div{
  display: inline;
  
}