@import "/css/main.css";

@import url("https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css");
@import url("https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,300;0,400;0,600;1,400&display=swap");

/* Style inputs with type="text", select elements and textareas */
input[type=text], select, textarea {
  width: 100%; /* Full width */
  padding: 12px; /* Some padding */ 
  border: 1px solid #ccc; /* Gray border */
  border-radius: 4px; /* Rounded borders */
  box-sizing: border-box; /* Make sure that padding and width stays in place */
  margin-top: 6px; /* Add a top margin */
  margin-bottom: 16px; /* Bottom margin */
  resize: vertical 
}

/* Style the submit button with a specific background color etc */
input[type=skicka] {
  background-color: #8a8385;
  color: white;
  padding: 12px 20px;
  max-width: 80px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

/* When moving the mouse over the submit button, add a darker green color */
input[type=skicka]:hover {
  background-color: #9e2f42;
  
}

/* Add a background color and some padding around the form */
.container {
  border-radius: 5px;
  background-color: rgb(32, 31, 31);
  padding: 20px;
  
  color: aliceblue;
}
