*{
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;  
  box-sizing: border-box;
}

.footer_container{
  display: grid;
  position: fixed;
  bottom: 0;
  width: 100vw; 
  height: 20vh; 

  grid-template-columns: 1fr 2fr 2fr 2fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;    
  
  overflow: hidden;
  
  background-color: #1B1B1C;
  
  grid-template-areas: 
    ". a b c ."
    ". d e f ."
    ". g h i ."; 
}

.footer_logo_container{
  display: flex;
  grid-area: d;  
  align-self: center;
}

body > footer > div > div > img{
  height: 40px;
}

.copyRight_container{
  display: flex;
  grid-area: g;     
  margin-top: 0%;

  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 20px;

  color: #FFFFFF;
  opacity: 0.65;

}