.nav-container {
  background: #262525;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  height: 120px;
  position: fixed;
  top: 0;
  width: 100%;
}

.nav-container a {
  cursor: pointer;
  text-decoration: none;
  color: inherit;
}

.wrapper {
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 40px;
  Position: relative;
  Top: 50%;
  Transform: translateY(-50%);
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 72px;
}

nav .nav-left-items {
  display: flex;
  align-items: center;
}

nav .nav-logo {
  margin-left: 40px;
}

nav .nav-right-items {
  display: flex;
  font-family: Montserrat;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 17px;
  letter-spacing: -0.06em;
  color: #EDE8E8;
}

.nav-login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 102px;
  height: 40px;
  margin-right: 32px;
  border: 1px solid #EDE8E8;
  box-sizing: border-box;
}

.nav-create-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 102px;
  height: 40px;
  background: #6C1E1E;
  box-shadow: 0px 0px 14px 4px rgba(245, 112, 93, 0.25);
}