@import "./main.css";
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@700&family=Roboto&display=swap');

main{
  display: flex;
  justify-content: center;
}


.Login-Container{
  display: flex;
  grid-area: c;
  width: 50vw;
  height: 75vh;
  border-radius: 10px;
  text-align: center;
  align-self: center;
  border-radius: 5px;
  background:url(../img/movieImg/Login-background.jpg);
}

.Login-wrapper{
    align-self: center;
    align-content: space-around;
    flex-direction: column;
    width:100vw;
    height:50vh;
    
}

.Title-Container{
  display: flex;
  justify-content: center;
}

.Title-Container h1{
  font-family: 'Josefin Sans', sans-serif;
  font-weight: bold;
  font-size: 30px;
  text-transform: uppercase;
  color: rgb(243, 243, 243);

}

.Input-Container{
  display: flex;
  justify-content: center;
  align-content: space-around;
  height: 20%;
}

#email, #pswrd{
    width: 20em;
    height: 3em;
    margin: 2px;
    background-color: rgb(233, 233, 233);
    border: none;
    color: rgb(100, 100, 98);
    text-align: center;
    font-family: 'Roboto', sans-serif;
}

#sub-btn{
  width: 15em;
  height: 3em;
  margin-top: 1em;
  font-family: 'Josefin Sans', sans-serif;
  border: none;
  color: rgb(233, 233, 233);
  background-color: rgb(37, 37, 37);
}

