@import "./main.css";
@import "./loginpage-tickets.css";
@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@700&family=Roboto&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Dosis:wght@200&display=swap");

.Login-Container {
  display: grid;
  width: 100%;
  height: 75vh;
  border-radius: 10px;
  text-align: center;
  align-self: center;
  justify-items: center;
  border-radius: 5px;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-areas:
    "lw . rc"
    "lw d rc"
    "lw . rc";
}

.box-divider {
  grid-area: d;
  height: 50vh;
  width: 5px;
  background: linear-gradient(
    to bottom,
    rgba(255, 255, 255, 0) 0%,
    rgba(255, 255, 255, 0) 10%,
    rgb(255, 255, 255) 50%,
    rgba(255, 255, 255, 0) 90%,
    rgba(255, 255, 255, 0) 100%
  );
  justify-self: center;
}

.Login-wrapper {
  align-self: center;
  background-image: linear-gradient(to right, #434343 0%, black 100%);
  background-blend-mode: multiply, multiply;
  grid-area: lw;
  display: grid;
  height: 75%;
  width: 75%;
  border-radius: 3%;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-template-areas:
    ". lwt ."
    ". i ."
    ". . .";
}

.Register-wrapper {
  align-self: center;
  background-image: linear-gradient(to right, #434343 0%, black 100%);
  grid-area: rc;
  display: grid;
  height: 75%;
  width: 75%;
  border-radius: 3%;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-template-areas:
    ". rwt ."
    ". i ."
    ". sa .";
}

.Login-wrapper > .Title-Container {
  grid-area: lwt;
  display: flex;
  justify-content: center;
  align-self: center;
}

.Register-wrapper > .Title-Container {
  grid-area: rwt;
  display: flex;
  justify-content: center;
  align-self: center;
}

.Title-Container h1 {
  font-family: "Josefin Sans", sans-serif;
  font-weight: bold;
  font-size: 40px;
  text-transform: uppercase;
  color: rgb(243, 243, 243);
}

.Register-wrapper > .Title-Container > h1 {
  line-height: 1em;
}

.Input-Container {
  grid-area: i;
  display: flex;
  justify-content: center;
  align-content: space-around;
  height: 20%;
}

#crt-email,
#log-email,
#crt-pswrd,
#log-pswrd,
#fname,
#lname {
  width: 20em;
  height: 3em;
  margin: 2px;
  background-color: rgb(233, 233, 233);
  border: none;
  color: rgb(100, 100, 98);
  text-align: center;
  font-family: "Roboto", sans-serif;
}

#log-btn {
  width: 15em;
  height: 3em;
  margin-top: 1em;
  font-family: "Josefin Sans", sans-serif;
  border: none;
  color: rgb(233, 233, 233);
  background-color: rgb(37, 37, 37);
}

#crt-btn {
  width: 15em;
  height: 3em;
  margin-top: 1em;
  font-family: "Josefin Sans", sans-serif;
  border: none;
  color: rgb(233, 233, 233);
  background-color: rgb(37, 37, 37);
}

.active-User-Container {
  display: flex;
  align-content: center;
  justify-content: space-around;
  font-family: "Dosis", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 17px;
  color: #ede8e8;
  width: 20em;
}

.active-User-Container > img {
  height: 2em;
}

.active-User-Container > p {
  align-self: center;
  font-size: 15px;
}
.active-User-Container > a {
  align-self: center;
  font-size: 15px;
}

.menu-divider {
  height: 20px;
  width: 1px;
  background-color: rgb(238, 238, 238);
}

#logOut {
  font-family: "Dosis", sans-serif;
  width: auto;
  background: none;
  color: white;
  border: none;
  cursor: pointer;
  font-weight: inherit;
}
