@import "trailers-page.css";
@import url("https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css");
@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
@import "/css/allElementsInStartPage/hero-banner.css";
@import "/css/allElementsInStartPage/calendar.css";
@import "/css/allElementsInStartPage/ads-banner.css";
@import "header.css";
@import "sidenav.css";
@import "footer.css";
@import "loginpage.css";
@import "detailedInfoAboutMovies.css";
@import "contactUs.css";
@import "booking.css";
@import "confirmation.css";
@import "profilepage.css";

* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
  font-size: 12px;
  line-height: 20px;
}

body {
  display: grid;
  width: 100vw;
  height: 100vh;
  overflow-x: hidden;
  grid-template-columns: 1fr 80% 1fr;
  grid-template-rows: minmax(fitcontent, 13%) auto auto 19%;

  grid-template-areas:
    "h h h "
    ". c ."
    ". ca ."
    "f f f";

  background: radial-gradient(
    circle,
    rgba(133, 27, 27, 1) 0%,
    rgba(27, 26, 26, 1) 100%
  );
}

main {
  grid-area: c;
}
