@import "/css/main.css";
@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@700&family=Roboto&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Dosis:wght@200&display=swap");

.profile-page-container {
  grid-area: c;
  display: grid;
  width: 100%;
  height: 68vh;
  align-self: center;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-template-areas:
    ". pd ."
    "ui pd ub"
    ". pd .";
}

.profile-wrapper {
  grid-area: ui;
  height: 100%;
  width: 100%;
}

.bookings-wrapper {
  grid-area: ub;
  height: 100%;
  width: 100%;
}

.profile-divider {
  align-self: center;
  grid-area: pd;
  height: 50vh;
  width: 5px;
  justify-self: center;
  background: linear-gradient(
    to bottom,
    rgba(255, 255, 255, 0) 0%,
    rgba(255, 255, 255, 0) 10%,
    rgb(255, 255, 255) 50%,
    rgba(255, 255, 255, 0) 90%,
    rgba(255, 255, 255, 0) 100%
  );
}

.profile-title {
  text-align: center;
  color: rgb(241, 241, 241);
  font-size: 40px;
  font-family: "Josefin Sans", sans-serif;
  text-transform: uppercase;
  letter-spacing: 5px;
}

.profile-text-container {
  font-family: "Roboto", sans-serif;
  color: rgb(241, 241, 241);
  letter-spacing: 1px;
  height: 30%;
}

.profile-text-container > p {
  font-size: 15px;
}

.bookings-title {
  text-align: center;
  color: rgb(241, 241, 241);
  font-size: 40px;
  font-family: "Josefin Sans", sans-serif;
  text-transform: uppercase;
  letter-spacing: 5px;
}

.bookings-text-container {
  font-family: "Roboto", sans-serif;
  color: rgb(241, 241, 241);
  letter-spacing: 1px;
  overflow: auto;
}

.bookings-text-container > p {
  font-size: 15px;
}

.booked-tickets {
  background-color: rgba(255, 255, 255, 0.411);
  margin-top: 10px;
  transition: background-color 1s linear;
  text-indent: 10px;
}

.booked-tickets:hover {
  background-color: rgb(68, 68, 68);
}

.show-bookings-btn {
  height: 30px;
  width: 115px;
  font-size: 10px;
  cursor: pointer;
  font-weight: bolder;
}
