@import url("https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css");

main {
  display: grid;
  width: 100vw;
  height: 100vh;

  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(12, 1fr);

  grid-template-areas:
    "h h h h h h h h h h h h"
    "h h h h h h h h h h h h"
    ". . c c c c c c c c . ."
    ". . b b b b b b b b . ."
    ". . b b b b b b b b . ."
    ". . c c c c c c c c . ."
    ". . c c c c c c c c . ."
    ". . c c c c c c c c . ."
    ". . c c c c c c c c . ."
    ". . c c c c c c c c . ."
    ". . c c c c c c c c . ."
    ". . . . . . . . . . . ."
    "f f f f f f f f f f f f";

  background: radial-gradient(
    circle,
    rgba(133, 27, 27, 1) 0%,
    rgba(27, 26, 26, 1) 100%
  );
}

header {
  grid-area: h;
}

footer {
  grid-area: f;
}

div.hero-banner > div {
  grid-area: b;
}

/* This is the arrow who is laying on the footer */
.arrowUp {
  grid-area: a;
  z-index: 1;
  justify-self: center;
  align-self: flex-end;
}
