@import "./main.css";
@import url("https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css");
@import url("https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,300;0,400;0,600;1,400&display=swap");

.trailer-wrapper {
  margin-top: 4rem;
  grid-area: c;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 25% 85%;
  grid-template-areas:
    "t . ."
    "cs cs cs";
}

.trailers {
  grid-area: cs;
  white-space: nowrap;
  overflow-x: auto;
  justify-content: center;
  border-radius: 10px;
  font-family: Work Sans;
  font-size: 20px;

  border-radius: 10px;
  margin-top: 1rem;
  margin-bottom: 5rem;
}
.trailers::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  background-color: rgba(27, 26, 26, 1);
}

.trailers::-webkit-scrollbar {
  width: 12px;
  border-radius: 10px;
  background-color: rgba(27, 26, 26, 1);
}

.trailers::-webkit-scrollbar-thumb {
  border-radius: 10px;
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: rgb(134, 127, 127);
}
.trailer-wrapper > .title {
  font-size: 30px;
  font-weight: bold;
  font-family: "Josefine Sans", sans-serif;
  color: rgb(236, 236, 236);
  margin-top: 5rem;
  grid-area: t;
}

.trailers .item {
  grid-area: cs;
  display: inline-block;
  flex: 0 0 auto;
  border-radius: 10px;
}
