@import "./main.css";

.ads-banner {
  grid-area: c;
  background-image: url("/img/movieImg/Just-nu-Container.png");
  background-position: center;
  background-size: cover;
  height: 50vh;
  margin-top: 10em;
  margin-bottom: 10em;
}
