.txtholder-movieTime-calendarSalon {
  display: inline-flex;
  font-size: 15px;
  margin-top: 8px;
  margin-bottom: 15px;
}

body
  > main
  > div.calendar-Container
  > div.bothSalons-container
  > div.little-salon-container {
  background-color: rgba(255, 255, 255, 0.123);
}

body
  > main
  > div.calendar-Container
  > div.bothSalons-container
  > div.big-salon-container {
  background-color: rgba(255, 255, 255, 0.123);
}

body
  > main
  > div.calendar-Container
  > div.bothSalons-container
  > div.big-salon-container
  > p {
  margin-bottom: 5px;
}

.txtholder-movieDate-calendarSalon {
  margin-top: 5%;
  margin-bottom: 5%;
}

.txtholder-time-calendarSalon {
  margin-top: 5px;
  margin-bottom: 15px;
}

.txtholder-movieTitle-calendarSalon p {
  font-size: 20px;
}

/* ------ buttons  ------ */

body > main > div.calendar-Container > div.calendar > div > button {
  cursor: pointer;
  border: none;
  border-radius: 30px;
  background-color: rgb(255, 255, 255);
  height: 100%;
  width: 100%;
  font-size: 20px;
  outline-style: none;
}

body > main > div.calendar-Container > div.calendar > div {
  border: none;
  border-radius: 20px;
}

body
  > main
  > div.calendar-Container
  > div.calendar
  > div.selectedMonth_container
  > button {
  background-color: rgba(255, 255, 255, 0.411);
  color: aliceblue;
  outline: none;
}
