@import "/css/main.css";

.calendar-Container {
  grid-area: ca;
  display: grid;
  width: 100%;
  height: auto;
  grid-template-columns: 30% 30% 30%;
  grid-template-rows: 100%;
  grid-template-areas: "cl ls ss";
  justify-content: space-evenly;
  font-family: Poppins;
}

/* --------- THE CALENDAR ------------ */

body > main > div.calendar-Container > div {
  grid-area: cl;
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-template-rows: 30px 30px repeat(5, 1fr);
  height: 100%;
  width: 100%;
  background-color: red;
  justify-items: center;
  border-radius: 10px;
  padding: 10%;
}

body > main > div.calendar-Container > div.calendar > div {  
  height: 100%;
  width: 100%;

  justify-self: center;
  align-self: center;
  text-align: center;

}

body > main > div.calendar-Container > div.calendar > div.selectedMonth_container{
  grid-column: 1 / 8;
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
}

body > main > div.calendar-Container > div.calendar > div.nameOfDay_container{
    grid-column: 1 / 8;    
    display: flex;
    width: 100%;
    justify-content: auto;
    align-items: center; 
    
}

body > main > div.calendar-Container > div.calendar > div.selectedMonth_container > div > p{
  color: aliceblue;
  font-size: 20px;
  text-align: center;
  letter-spacing: 5px;
}

/* /* This is needed when pressing the buttons */
body > main > div.calendar-Container > div.calendar > div.selectedMonth_container > div > div > p{
  color: aliceblue;
  font-size: 20px;
  text-align: center;
  letter-spacing: 5px;
} 


body > main > div.calendar-Container > div.calendar > div.nameOfDay_container > div {
  width: inherit;
}


body > main > div.calendar-Container > div.calendar > div.nameOfDay_container > div > p{
  color: rgb(255, 255, 255);  
  background-color: rgba(48, 48, 48, 0.411);
  border-radius: 10px;  
  font-size: 15px;
}


body > main > div.calendar-Container > div.calendar > div.selectedMonth_container > button{
  width: 30%;
  font-size: 15px;
}

/* ------ buttons  ------ */

body > main > div.calendar-Container > div.calendar > div > button{
  cursor: pointer;  
  border: none;   
  border-radius: 30px;  
  background-color: rgb(255, 255, 255);
  height: 100%;
  width: 100%;  
  font-size: 20px; 
}

body > main > div.calendar-Container > div.calendar > div.selectedMonth_container > button{
  background-color: rgba(48, 48, 48, 0.411);
  color: aliceblue;
}

/* ------ hoover effects  ------ */

body > main > div.calendar-Container > div.calendar > div.selectedMonth_container > .previousMonth:hover{
  background-color: red;
  cursor: pointer;
}

body > main > div.calendar-Container > div.calendar > div > button:hover{
  color:red;  
}

/* --------- END OF CALENDAR  ------------ */







}
/* --------- CALENDAR BUTTONS ------------ */
body > main > div.calendar-Container > div.calendar > div{
  border: none;
  border-radius: 20px;
}



/* --------- SALON ------------ */

body > main > div.calendar-Container > div.lilla-salongen-container {
  grid-area: ls;
  width: 100%;
  height: 100%;
  background-color: green;
  color: aliceblue;
}

body > main > div.calendar-Container > div.stora-salongen-container {
  grid-area: ss;
  width: 100%;
  height: 100%;
  background-color: rgb(2, 133, 133);
  color: aliceblue;
}
