@import "/css/main.css";

.calendar-Container {
  grid-area: ca;
  display: grid;
  width: 100%;
  grid-template-columns: 33% 33% 33%;
  grid-template-rows: 100%;
  grid-template-areas: "c ls ss";
}

body > main > div.calendar-Container > div {
  grid-area: c;
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-template-rows: repeat(6, 1fr);
  height: 100%;
  width: 100%;
  background-color: transparent;
  justify-items: center;
}

.day {
  background-color: rgb(227, 227, 228);
}

.btn-show-calendar {
  height: 100%;
  width: 100%;
  align-self: center;
  justify-self: center;
}

body > main > div.calendar-Container > div.lilla-salongen-container {
  grid-area: ls;
  width: 100%;
  height: 100%;
  background-color: green;
}

body > main > div.calendar-Container > div.stora-salongen-container {
  grid-area: ss;
  width: 100%;
  height: 100%;
  background-color: aqua;
}
